[Unit]
Description=Rpanion Server Service
After=network.target

[Service]
Environment=PORT=3000
WorkingDirectory=/home/pi/Rpanion-server
ExecStart=/usr/bin/npm run service
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target

