[Unit]
Description=Rpanion Server Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Rpanion-server
ExecStart=PORT=3000 /usr/bin/npm run server
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
