table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.Collapsible {
  background-color: #dddddd;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid lightGrey;
  border-top: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.Collapsible__trigger::before {
    content: '+ ';

}

.Collapsible__trigger.is-open::before {
      content: '- ';
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: white;
}

.ModalTitle {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.ModalContent {
  padding: 1rem;
}

.ModalActions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}
