# This workflow will lint the project
name: ESLint

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  eslint-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'  # or the version of Node.js your project uses

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint
