name: Build Debian Package

on:
    push:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            arch: [amd64, arm64]
        steps:
        - uses: actions/checkout@v4

        - name: Use Node.js 20.x
          uses: actions/setup-node@v4
          with:
            node-version: 20.x
            cache: 'npm'

        - name: Install dependencies
          run: npm ci

        - name: Build package
          run: npm run package

        - name: Archive build
          uses: actions/upload-artifact@v4
          with:
            name: deb-package-${{ matrix.arch }}
            path: 'rpanion-server_*.deb'
            retention-days: 7
        - name: Pre Release
          uses: "softprops/action-gh-release@v2"
          if: github.ref == 'refs/heads/master'
          with:
            prerelease: true
            name: "Development Build"
            tag_name: "latest"
            files: 'rpanion-server_*.deb'
            token: "${{ secrets.GITHUB_TOKEN }}"
        - name: Release
          uses: "softprops/action-gh-release@v2"
          if: startsWith(github.ref, 'refs/tags/v')
          with:
            prerelease: false
            files: 'rpanion-server_*.deb'
            token: "${{ secrets.GITHUB_TOKEN }}"